<div class="col-xs-12 comment-indent">
{{#if authorStart}}
    <a href="/starters/{{thread.slug}}/threads/{{thread._id}}/edit" class="lead"><p>{{thread.content}}</p></a>
{{else}}
    <p>{{thread.content}}</p>
{{/if}}

    <p class="text-right">
    <a href="/user-profile/{{thread.author.username}}">{{thread.author.username}}</a></p>
    </div>
