<div class="col-xs-12 comment-indent">
    <a href="/starters/{{thread.slug}}/threads/{{thread._id}}/edit" class="lead"><p>{{thread.content}}</p></a>
    <p class="text-right">
    <a href="/user-profile/{{thread.author.username}}">{{thread.author.username}}</a></p>
    </div>
