<div class='site_name_container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
                {{> index}}
        <h3 id="inProgress">Stories In Progress</h3>

        <ul>
            {{#each startersFalse}}
            <li class="list-group-item">
                <div class="lead">
             <a href="{{this.url}}">{{this.title}}</a>
             </div>
                  <div><small>{{this.content}}</small></div>
                <div class="right">
                  <a href="/user-profile/{{this.authorName}}">{{this.authorName}}</a>
                </div>
            </li>
            {{/each}}
        </ul>


    <h3 id="finished">Finished Stories</h3>

        <ul>
            {{#each startersTrue}}
            <li class="list-group-item">
                <div class="lead">
             <a href="{{this.url}}/yarn">{{this.title}}</a>
             </div>
                  <div><small>{{this.content}}</small></div>
                <div class="right">
                  <a href="/user-profile/{{this.authorName}}">{{this.authorName}}</a>
                      </div>
            </li>
            {{/each}}
        </ul>

</div>
</div>
</div>
