<!-- <div class='site_name_container'>
    <h1 class="site_name"></h1>
</div> -->
{{#if currentUser}}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each starters}}
            <li class="list-group-item">
                <div class="lead">
             <a href="{{this.url}}">{{this.title}}</a>
             <!-- <a href="/starters/{{this._id}}">{{this.title}}</a> -->
             </div>
                  <div><small>{{this.content}}</small></div>
                <div class="right">
                  <a href="user-profile/{{this.author.username}}">{{this.author.username}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

</div>

{{else}}


<!--
    <article>
        <section>
            <h3>Sometimes a story is called a 'yarn' as in 'Spin me a yarn!' Tell me a story.</h3>
        </section>
        <section>
            <h3>

            </h3>
        </section>
        <section>
            <h3>
            Throughout history, thread and stories have been 'interwoven' (forgive the pun). Like the three Fates of Greek myth, spinning, measuring, and cutting threads of human fate or Medieval weavers sewing tapestries of heroes, epic battles, and courtly love.
            </h3>
        </section>
        <section>
            <h3>
            'A Good Yarn' is a shared-story platform where users compose stories together, thread by thread.
            </h3>
        </section>
        <section>
            <h3>
            Please sign-up to get started.
            </h3>
        </section>
    </article> -->
{{/if}}
