<div class='site_name_container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Stories in Progress</h3>
        <ul>
            {{#each startersFalse}}
            <li class="list-group-item">
                <div class="lead">
             <a href="{{this.url}}">{{this.title}}</a>
             <!-- <a href="/starters/{{this._id}}">{{this.title}}</a> -->
             </div>
                  <div><small>{{this.content}}</small></div>
                <div class="right">
                  <a href="user-profile/{{this.author.username}}">{{this.author.username}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Finished Stories</h3>
        <ul>
            {{#each startersTrue}}
            <li class="list-group-item">
                <div class="lead">
             <a href="{{this.url}}">{{this.title}}</a>
             <!-- <a href="/starters/{{this._id}}">{{this.title}}</a> -->
             </div>
                  <div><small>{{this.content}}</small></div>
                <div class="right">
                  <a href="user-profile/{{this.author.username}}">{{this.author.username}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
</div>
</div>
