<div class='site_name_container'>
    <h1 class="site_name">A Good Yarn</h1>
</div>
{{#if currentUser}}
<div class="row">

    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each starters}}
            <li class="list-group-item">
                <div class="lead">
             <a href="/starters/{{this._id}}">{{this.title}}</a>
             </div>
                  <div><small>{{this.content}}</small></div>
                <div class="right">
                  <a href="user-profile/{{this.author.username._id}}">{{this.author.username}}</a>


              <!-- <div class="text-right">
                <a href="/n/{{post.subreddit}}">{{post.subreddit}}<a>
              </div> -->

              <!-- <form data-id="{{this._id}}">
                <button type="submit">Vote Up</button>

              </form>

              <div class="voteScore">{{this.voteScore}}</div>

              <form class="vote-down" data-id="{{this._id}}">
                <button type="submit">Vote Down</button>
              </form> -->

            </li>
            {{/each}}
        </ul>
    </div>

</div>

{{else}}
    <article>
        <section>
            <h3>Sometimes a story is called a "yarn" as in "Spin me a yarn!" Tell me a story.</h3>
        </section>
        <section>
            <h3>
            The three Fates of Greek myth would spin, measure, and cut threads of human fate. Medieval weavers sewed tapestries to commemorate heroes, remember epic battles, and show courtly love.
            </h3>
        </section>
        <section>
            <h3>
            Please sign-up to get started on your 'yarn'.
            </h3>
        </section>
    </article>
{{/if}}
