<div class="row">

<div class="col-xs-12 comment-indent">
  <div class="titleContainer"><h1>{{starter.title}}</h1></div>
  {{#if authorStart}}
    <a href="{{starter.slug}}/edit" class="lead"><p>{{starter.content}}</p></a>
    {{else}}
    <p>{{starter.content}}</p>
    {{/if}}
  </div>

    <p class="text-right">
     <a href="/user-profile/{{starter.author.username}}">{{starter.author.username}}</a></p>
    </div>

  {{#each starter.threads}}
    {{> thread thread=this starterId=../starter._id}}
  {{/each}}

  <form action="/starters/{{starter.slug}}/threads" method="post">
  <textarea class='form-control' name="content" placeholder="One more thread..."></textarea>
  <div class="text-right">
    <button type="submit" class="btn btn-primary">Add to the tale!</button>
  </div>
</form>

<div class="getStoryIcon">
<a href="/starters/{{starter.slug}}/yarn">
    <img class="logo" src='https://image.flaticon.com/icons/svg/1581/1581847.svg'>
</a>
</div>
</div>
