<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <h1>{{starter.name}}</h1>
    <p>{{starter.summary}}</p>
  </div>

  {{#each starter.threads}}
    {{> thread thread=this starterId=../starter._id}}
  {{/each}}

<a href="user/{{user._id}}" class="lead">{{starter.author.username}}</a>

<!-- <h2><a href=""></a>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h2>
<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h2>-->

  <form action="/starters/{{starter._id}}/threads" method="post">
  <textarea class='form-control' name="content" placeholder="One more thread..."></textarea>
  <div class="text-right">
    <button type="submit" class="btn btn-primary">Add to the tale!</button>
  </div>
</form>

</div>
