<div class="row">

    <div class="col-sm-8 col-sm-offset-2">

        <h1>User: {{user.username}}</h1>

        <div>Number of stories started: {{user.starters.length}}</div>
        <div>User since: {{date}}</div>
        <!-- <ul>

            {{#each user.starters}}
            <li class="list-group-item">
                <div class="lead">

             <a href="/starters/{{starter._id}}">{{starter.name}}</a>
             </div>
                <div class="right">
                  <a href="user-profile/{{starter.author._id}}">{{starter.author.username}}</a>
            </li>
            {{/each}}
        </ul> -->
    </div>

</div>
